<h3>FileUpload</h3>

@page "/"

@*<h1>Welcome to C# Corner</h1>
<p>Learn how to upload a file from Blazor WebAssembly to the an ASP.NET Core Web API with progress</p>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>File</label>
            <InputFile OnChange="OnChooseFile" />
            <p>0KB / 9,500KB</p>
        </div>
        <button class="btn btn-success btn-block m-1">Upload</button>
    </div>
</div>*@

